/*start: project menu*/
#project_menu {
margin: 0px;
padding: 4px;
}
#project_menu ul {
   list-style-type: none;
   margin-left:20px;
   padding:0px;
}
#project_menu ul li {
   font-weight: normal;
   margin:0;
   padding:0;
   list-style-image: url("../../images/ico/minimize.png");
}
#project_menu a{
   margin:0;
   padding:0;
}
#project_menu ul .top {
     font-weight: bold;
   list-style-image: url("../../images/ico/maximize.png");
}
/*end: project menu*/